.main {
  display: flex;
}

.main-block {
  max-width: calc(50% - 20px);
}

@media (max-width: 980px) {
  .main {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .main-block {
    max-width: 100%;
    margin: 0;
  }
}